In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r"C:\Users\yagiz\Downloads\multiple_linear_regression_dataset.csv", delimiter=";")
data

    deneyim   maas  yas
0       0.5   2500   22
1       0.0   2250   21
2       1.0   2750   23
3       5.0   8000   25
4       8.0   9000   28
5       4.0   6900   23
6      15.0  20000   35
7       7.0   8500   29
8       3.0   6000   22
9       2.0   3500   23
10     12.0  15000   32
11     10.0  13000   30
12     14.0  18000   34
13      6.0   7500   27

In [4]:
dataframe = pd.DataFrame(data, columns = ["deneyim", "maas", "yas"])
dataframe

    deneyim   maas  yas
0       0.5   2500   22
1       0.0   2250   21
2       1.0   2750   23
3       5.0   8000   25
4       8.0   9000   28
5       4.0   6900   23
6      15.0  20000   35
7       7.0   8500   29
8       3.0   6000   22
9       2.0   3500   23
10     12.0  15000   32
11     10.0  13000   30
12     14.0  18000   34
13      6.0   7500   27

In [7]:
from sklearn.linear_model import LinearRegression

x = dataframe.iloc[:, [0, 2]].values
y = dataframe.maas.values.reshape(-1, 1)

multiple_linear_regression = LinearRegression()
multiple_linear_regression.fit(x, y)

LinearRegression()

In [8]:
print("b0", multiple_linear_regression.intercept_)

b0 [10376.62747228]

In [9]:
print("b1, b2: ", multiple_linear_regression.coef_)

b1, b2:  [[1525.50072054 -416.72218625]]

In [21]:
multiple_linear_regression.predict(np.array([[10, 35], [5, 35]]))

array([[11046.35815877],
       [ 3418.85455609]])